#banner: .row
  .span7
    
    %p
      TransApp is a web-based application which is designed 
      to allow users to be able to gather necessary information 
      on their respective bus routes, bus information 
      and estimated arrival and departure times. 
      It shall serve as a travel aid to allow ease of use of Jamaica’s transport system.
    %a#pricing-signup
      Get in Touch

