%footer#public-footer
 .container
  .row-fluid
    .copyright.span3
      %p &copy; 2014 #{constants.PRODUCT_NAME} Ltd.
      
    %ul.span3
      %li
        %a(href="#{constants.PUBLIC_HOST}")
          Overview

    %ul.span3
      %li
        %a(href="/signup/")
          Sign Up

    %ul.span2
      %li
        %a(href="/contact/")
          Contact Us

